{% extends "base.html" %}

{% block h1 %} Tag erfassen {% endblock %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'tagify.css' %}">
<script src="{% static 'tag-javascript.js' %}"></script>
<script src="{% static 'tagify.min.js' %}"></script>
{% endblock %}
{% block body %}

<center>
    <select id="projectselect">
      {% for project in projects %}
        <option value="{{ project.id }}">{{ project.name }}</option>
      {% endfor %}
    </select>

  <select id="workpackageselect">
      <option value="">Select</option>
  </select>

  <select id="subjectselect">
        <option value="">Select</option>
  </select>

  <form action="" method="post">
      <input type="text", id="formdata", placeholder="Bitte Tag eingeben">
      <button type="submit", id="submitbutton">Submit</button>
  </form>
</center>

{% endblock %}