{% extends "base.html" %}

{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'charts.css' %}">
{% endblock %}

{% block body %}

<div class="container" name="containerdiv">
  <div class="allbodyelements" name="mx-auto">
    <div class="text-center" name="text-center">
      <h1 class="display-4">Tagcloud</h1>
      <div name="selectdiv" class="form-row">
        <div name="projectdiv" class="form-group col-md-3">
          <label for="projectselect" class="col-form-label-lg">Projekt</label>
          <select class="form-control" id="projectselect">
          {% for project in projects %}
            <option value="{{ project.id }}">{{ project.name }}</option>
          {% endfor %}
          </select>
        </div>
        <div name="workpackagediv" class="form-group col-md-3">
          <label for="workpackageselect" class="col-form-label-lg">Arbeitspaket</label>
          <select class="form-control" id="workpackageselect">
            <option value="">Select</option>
          </select>
        </div>
        <div name="subjectdiv" class="form-group col-md-3">
          <label for="subjectselect" class="col-form-label-lg">Thema</label>
          <select class="form-control" id="subjectselect">
            <option value="">Select</option>
          </select>
        </div>
        <div name="persondiv" class="form-group col-md-3">
          <label for="personselect" class="col-form-label-lg">Person</label>
          <select class="form-control" id="personselect">
          {% for person in persons %}
            <option value="{{ person.id }}">{{ person.username }}</option>
          {% endfor %}
          </select>
        </div>
      </div>
      <div id="chartdiv" name="auswertungdiv" class="col-md-12">
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'tagcloud.js' %}"></script>
<script src="{% static '/amcharts4/core/core.js' %}"></script>
<script src="{% static '/amcharts4/charts/charts.js' %}"></script>
<script src="{% static '/amcharts4/themes/animated.js' %}"></script>
<script src="{% static '/amcharts4/plugins/wordCloud.js' %}"></script>
<script src="{% static 'tagcloudchart.js' %}"></script>
{% endblock %}