<!DOCTYPE html>
<html>
{% load static %}
  <head>
    <meta charset="UTF-8" />
    <title>amCharts V4 Example - simple-line-chart</title>
<link rel="stylesheet" href="{% static 'test.css' %}">
  </head>
  <body>
<div id="chartdiv"></div>
<script src="{% static '/amcharts4/core/core.js' %}"></script>
<script src="{% static '/amcharts4/charts/charts.js' %}"></script>
<script src="{% static '/amcharts4/themes/animated.js' %}"></script>
<script src="{% static '/amcharts4/plugins/wordCloud.js' %}"></script>
<script src="{% static 'test.js' %}"></script>
  </body>
</html>